  /*DEMOREEL SPACE UNDER NAVBAR*/
  div .showReel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d48e2b;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    width: 15rem;
    height: 25vh;
    margin-left: 1rem;
  }
  /*HOME.JS*/
  .listing-blog{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 6rem;
  }

  /* BLOGLIST.JS */
  .blog-list{
    display:inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-right: 2rem ;
  }

  .blog-list .blog-preview h2{
    font-family: 'Brumery';
    font-size: 2rem;
  }

  .blog-list .blog-preview h3{
    font-family: 'LTAmber-Medium';
    font-size: 1rem;
    font-weight: 600;
    color: white;
  }

  .blog-list .blog-preview p{
    font-family: 'LTAmber-Regular';
    font-size: 1.2rem;
    color: white;
  }

  /* SERVICES>JS */
  .services button{
    text-align: center;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    height: 8vh;
    font-family: 'LTAmber-Bold';
    font-size: 1.2rem;
    width: 15rem;
    color: #001d63;
    background-color:#d48e2b;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    margin: 1rem;
  }

.services h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
    font-family: 'Brumery';
    font-size: 3.5rem;
    color: #d48e2b;
  }

/*Horizontal Distribution*/
 div .btn-space{
    display: flex;
    align-items: center;
    justify-content: center;
  }


#btn-Service {
    
}

.btn-Service a{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.btn-Service a button{
    background-color: #001d63;
    color: white;
    font-family: 'LTAmber-Regular';
    font-size: 0.8rem;
    width: 15rem;
    height: 3vh;
    padding: 2px;
    margin-top: 0.2px;
    border-radius: 1rem;
  }