/*Color Palette
#d48e2b ---> Amarillo 
#001d63 ---> Azul Marino*/
/*-----------------------*/

/* Base Styles */
* {
  margin: 0;
  font-family: "LTAmber-Regular";
  color: #333;
}

body {
  background-image: url('../img/BG.jpg');
}

/*STANDARD FOR ALL PAGES*/
section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Titles */
h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Brumery';
  font-size: 3.5rem;
  color: #d48e2b;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}

/*NAV BAR*/
.navbar {
  padding: 7px;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  background-color: #001d63 ;
  box-shadow: 0px 4px 6px rgba(2, 20, 63, 0.5);
}
.navbar img{
  width: 11rem;
  height: 8rem;
  transition: transform 0.5s ease-out;
  pointer-events: auto;
}
.navbar img:hover{
  transform: scale(1.2);
}

.navbar .links {
  margin-left: auto;
  margin-right: 10%;
}
.navbar .links ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.navbar li {
  color: white;
  font-family: "LTAmber-Regular";
  font-size: 1.2rem;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  pointer-events: auto;
}
.navbar li:hover {
  color: #d48e2b;
}

/* Estilos base para todos los botones */
.navbar button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: "LTAmber-Medium";
  font-size: 16px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra gris */
  transition: background-color 0.3s; /* Animación de cambio de color */
}

/* Colores de los botones */
.navbar button:nth-child(1) {
  background-color: white; /* Amarillo */
  font-family: "LTAmber-Medium";
  color: #001d63;
  border-radius: 5px 0 0 5px; /* Redondear izquierda */
  
}

.navbar button:nth-child(2) {
  background-color: #001d63; /* Azul */
  border-radius: 0 5px 5px 0; /* Redondear derecha */
}

/* Cambio de color al hacer clic */
.navbar button:hover {
  background-color: #d48e2b; /* Azul más oscuro (hover 3º botón) */
}
/*RESPONSIVE -->*/
@media screen and (max-width: 390px) {
  .navbar {
    flex-direction: column; /* Cambiar la dirección de flexbox para pantallas pequeñas */
  }

  .navbar a {
    font-size: 0.8rem; /* Reducir el tamaño de la fuente para pantallas pequeñas */
  }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
  /* Estilos para dispositivos con anchura entre 391px y 768px */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para dispositivos con anchura entre 769px y 1024px */
}